[mysqld]
ndbcluster
ndb-connectstring=management1

# 実行ユーザ
 user=mysql

# store your data in data nodes (and not in mysql servers) if we don't specify the db engine in CREATE TABLE
default_storage_engine=ndbcluster

[mysql_cluster]
ndb-connectstring=management1
